* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display:flex;
  flex-direction: row;
  background-color: #3874AC;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow:hidden;
}

.empty {
  border: 3px solid #000;
  height:150px;
  width: 150px;
  margin:10px;
  background-color: #f6f6f6;
  margin-top:50vh;
}

.fill {
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdmonet-etretaalaise-d-amont.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=d2fe3e61a48b4725ff40bc0d8a48121c);
  width: 144px;
  height:144px;
  background-repeat:none;
  background-size: cover;
  background-position:center;
  cursor:pointer;
}

.hold {
  border: solid 5px #ccc ;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body{
    flex-direction: column;
  }
}
